{% extends "_layouts/auth.njk" %}

{% block body %}
  <div class="auth-content">
    <div class="container">
      <h1>Log in to your account</h1>
      <div class="field-wrapper">
        <div class="icon"></div>
        <div class="field">
          <input type="text" name="login" id="login" placeholder="username/email">
        </div>
      </div>
      <div class="field-wrapper">
        <div class="icon"></div>
        <div class="field">
          <input type="text" name="password" id="password" placeholder="your password">
        </div>
      </div>
      <div class="field-wrapper">
        <button>Log In</button>
      </div>
    </div>
  </div>
{% endblock %}